@import '../sass/main-import'

.lists
  &__itemWrapper
    display: flex
    justify-content: center
    align-items: center
    .itemWrapper__item
      // border: 1px dotted $gray
      flex-basis: 80%      
      p
        cursor: pointer
    .itemWrapper__buttons
      // border: 1px dotted $gray
      flex-basis: 20%
      display: flex
    span 
      margin-left: 15px
      color: $danger
      cursor: pointer
      font-size: 20px    
