@import "../sass/main-import"

.mainContent
  flex-basis: 80%  
  &__wrapper
    height: 100%
    padding: 20px
    .tasksWrapper
      display: flex
      flex-direction: column
      &__selectedList
        padding: 12px