@import '../sass/main-import'

.tasks
  &__wrapper    
  .task
    display: flex
    align-items: center
    &__name
      flex-basis: 80%
      border-bottom: 1px solid $gray
      padding: 4px 10px
    &__manage
      i
        padding: 8px 
        color: $danger
        cursor: pointer
        border-bottom: 1px solid $gray
.taskCompleted
  text-decoration: line-through

@media only screen and (max-width: 992px) 
  .tasks
    &__wrapper
    .task
      &__name
        flex-basis: 85%